@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Prompt:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --brand: #c3bb97;
  --brand-secondary: #739f4d;
  --black-brand: #121212;
  --white: white;
  --grey--grey-950: #1e1e1e;
  --blue--100: #f6f8fe;
  --black: black;
  --grey--grey-700: #545454;
  --grey--grey-300: #c5c5c5;
  --error: #ffa280;

  --background: #fff;
  --text: #a2a2a2;

  /* dark theme */
  --dark-background: #222;
  --dark-text: #eee;

  /* fonts */
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", "Prompt", sans-serif;
  color: var(--white);
}

button {
  outline: none;
  letter-spacing: 0;
  text-transform: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;
  box-shadow: 0 2px var(--black);
}

button:hover {
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-size: 1em;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

input:focus {
  outline: none;
}

/* Spinner */
.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
  width: inherit;
  height: inherit;
}

.spinner .path {
  stroke: var(--brand-secondary);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
/* end Spinner */
